<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:ctx="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	   default-lazy-init="true">

	<tx:annotation-driven proxy-target-class="true" order="0"/>

	<ctx:component-scan base-package="at.dormancy.scenario">
		<ctx:include-filter type="annotation" expression="org.springframework.transaction.annotation.Transactional" />
	</ctx:component-scan>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" lazy-init="false">
		<property name="packagesToScan" value="at.dormancy.scenario.shared.model"/>
		<property name="hibernateProperties" ref="hibernateProperties"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="/WEB-INF/init.sql"/>
	</jdbc:initialize-database>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:database"/>
		<property name="username" value="sa"/>
		<property name="suppressClose" value="true"/>
	</bean>

	<bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<aop:config>
		<aop:pointcut id="persistenceEndpoint" expression="within(at.dormancy..server..*)"/>
		<aop:advisor advice-ref="dormancyAspect" pointcut-ref="persistenceEndpoint" order="1000"/>
	</aop:config>

	<bean id="dormancyAspect" class="at.dormancy.aop.DormancyAdvisor">
		<constructor-arg ref="dormancy"/>
	</bean>

	<bean id="dormancy" class="at.dormancy.Dormancy">
		<property name="config">
			<bean class="at.dormancy.EntityPersisterConfiguration">
				<property name="saveNewEntities" value="true"/>
			</bean>
		</property>
	</bean>

</beans>
